{% extends 'new_base.html' %}
{% load static %}


{% block content %}


<style>
    .first{
        height:5vh; 
        margin-top: 2vh;
        border-radius: 20px;
        line-height: 1vh;
        font-size: 85%;
        text-align: center;
        background-color: #ffea00;

        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;

    }

    .second{
        height:45vh; 
    }

    .recom{
        height:25vh; 
        
       
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .third{
        height:35vh; 
    }

/*<<<<<<<<<<<<<<<<<start carousel >>>>>>>>>>>>>>>>>>>>>  */
    
    /* Slideshow container   position: relative; */
.slideshow-container {
 
  background: #f1f1f1f1;
  
}

/* Slides */
.mySlides {
  display: none;
  padding: 20px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
 
  user-select: none;
  width: auto;
  cursor: pointer;
  position: absolute;
  /*
  top: 60%;
  margin-top: -30px;
*/
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
 
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  top: 60%;
  right: 4vw;
  border-radius: 3px 0 0 3px;
}

 /* Position the "previous button" to the right  */
.prev {
  position: absolute;
  top: 60%;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
    width: 100%;
    position: relative;
    bottom: 1px;
    z-index: 3;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}

/*<<<<<<<<<<<<<<<<<end carousel >>>>>>>>>>>>>>>>>>>>>  */

/*Table style begin*/
#table{
  box-sizing: border-box;
  padding-top: 0;
  margin-top: 0;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 14px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 4px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

.leader-table{
  font-weight: 500;
  font-size: 1em;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 15px;
}

/*Table style end   font-size: 0.7em */
.filter-button {
    position: relative;
    top: 1.6vh;
}

.kpiButtton{
    background-color: #ffea00; 
    height: 15%;
    margin-bottom: 5px; 
    border-radius: 20px;
}


/* feedback */

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #ffea00;
  /*color: white;*/
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  border-radius: 20px;
}

input[type=submit]:hover {
  background-color: orange;
}

.containerx {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 15%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 85%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
  
/* comments*/

.containery {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.containery::after {
  content: "";
  clear: both;
  display: table;
}



.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}


/* feedback 0 */

</style>

<script>

</script>

<div class="container">
    <div class="row gy-4">
      <div class="col-6 col-md-3">
        <div class="p-3 border first button" id="but1" onclick="selectsection('but1','pa1', 'page')">Overview</div>
      </div>
      <div class="col-6 col-md-3 ">
        <div class="p-3 border first button" id="but2" onclick="selectsection('but2','pa2', 'page')">Prediction & Analysis</div>
      </div>
      <div class="col-6 col-md-3">
        <div class="p-3 border first button" id="but3" onclick="selectsection('but3','pa3', 'page')"> Insights & Recommendations</div>
      </div>
      <div class="col-6 col-md-3 ">
        <div class="p-3 border first button" id="but4" onclick="selectsection('but4','pa4', 'page')">Feedback & Collaboration</div>
      </div>
<!--endrow-->
    </div>
      <!--page 1-->
      <div class="row gy-4 bg-secondary pb-3 mt-2">
      <div class="col-12 page pa1" id="pag1">
        <div class="p-1 border bg-light third" style="overflow-x:auto;overflow-y:auto;">

            <p class="leader-table" style="text-align: center;font-size: 2vh;">Country Performance</p>
            <form method="post" style="padding-top: 0;margin-top: 0;">
              {% csrf_token %}
              <div class="container">
              <div class="row">
                <!--
               <div class="form-group col-md-4" style="font-size: 0.8em;">
                    <label class="drop" for="inputState">Country</label>
                    <select id="country" class="form-control" style="height: 20px; padding-top: 0; font-size: 0.8em;">
                      <option selected>All</option>
                      <option>Nigeria</option>
                      <option>Kenya</option>
                      <option>Tanzania</option>
                    </select>
               </div>
                 -->
               <div class="form-group col-md-2" style="font-size: 0.8em;">
                    <!--<label class="drop" for="inputState">Duration</label>-->
                   
                    <select id="inputState" class="form-control" name="country-data" style="height: 20px; padding-top: 0; font-size: 0.8em;">
                      <option value="MTD" selected>MTD</option>
                      <option value="WTD">WTD</option>
                    </select>
               </div>
               <div class="form-group col-md-4" style="font-size: 0.8em;">
                <button id="form-button" type="submit" class="btn filter-button" style="background-color: #ffea00;height: 20px; padding-top: 0; font-size: 0.8em;position: relative;top:-0.5vh;">Filter</button>
              </div>
             </div>
            </div>
            </form>
    
    <table id="myTable">
      <tr class="header" style="background-color: #ffea00;">
        <th style="width:5%;">SN</th>
        <th style="width:10%;">Country</th>
        <th style="width:10%;">Calls</th>
        <th style="width:10%;">Collection</th>
       <!--<th style="width:10%;">Contact rate</th>--> 
        <th style="width:10%;">Negotiation</th>
      </tr>
      {% for feature in Country_features  %}
      <tr>
        <td> {{ forloop.counter }}</td>
        <td>{{  feature.3 }}</td>
        <td>{{  feature.0 }}</td>
        <td>{{  feature.1 }}</td>
        <!--<td>{{ Country_features.0.2 }}</td> -->
        <td>{{  feature.2 }}</td>
      </tr>
      {% endfor %}
    
    </table>
        
        </div>
      </div>
      <div class="col-12 page pa1" id="pag2">
        <div class="p-3 border bg-light second">
         
          <div class="slideshow-container" style="height: 80%;line-height: 3vh;">
             <h5 style="text-align: center;font-size: 2.5vh;margin-bottom: 0;"> Success Stories</h5>
            <div class="mySlides">
              <img src="{% static 'img_avatar.png' %}"  style="float: left;height: 8vh;width: 9vh;">
              <q style="font-size: 1vw;" >Utilizing our productivity analysis software, Kenya efficiently managed their call agent workforce. By accurately gauging peak call hours and aligning staff schedules accordingly, they reduced overall labor costs by 20%. This optimization not only improved operational efficiency but also ensured adequate agent availability during high-demand periods, resulting in reduced wait times for customers and increased service quality.</q>
              <p class="author" style="font-size: 1vw;"><em>- Abisola Oladeji, Nigeria.</em></p>
              
            </div>
            
            <div class="mySlides">
              <img src="{% static 'img_avatar.png' %}"  style="float: left;height: 8vh;width: 9vh;">
              <q style="font-size: 1vw;">Implementing our call agent productivity analysis tool and witnessed a remarkable 25% increase in call resolution rates. By identifying top-performing agents and providing targeted training to those needing improvement, they significantly enhanced customer satisfaction scores within just three months. This led to improved customer loyalty and positive reviews, ultimately boosting the company's reputation and customer retention.</q>
              <!--<p class="author">- Tanzania</p>-->
              <p class="author" style="font-size: 1vw;"><em>- Oluwafunbi Adeneye, Kenya.</em></p>
             
            </div>
            
            <div class="mySlides">
              <img src="{% static 'img_avatar.png' %}" style="float: left; height: 8vh;width: 9vh;">
              <q style="font-size: 1vw;">With our call agent productivity analysis solution, Nigeria gained invaluable data-driven insights. By analyzing call trends, agent performance metrics, and customer feedback, they fine-tuned their processes and identified key areas for improvement. This approach led to a 40% reduction in call escalations and a 25% increase in first-call resolutions, showcasing the power of continuous improvement through data-driven decision-making.</q>
             <!-- <p class="author" style="margin-bottom: 0;padding-bottom: 0;"><em>Oluwafunbi Adeneye</em></p>
              <p class="author" style="margin-top: 0;padding-top: 0;">- Tanzania</p>-->
              <p class="author" style="font-size: 1vw;"><em>-Oluwafunbi Adeneye, Tanzania.</em></p>

            </div>
            
           <!-- <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>-->
            
          </div>
            
            <div class="dot-container" style="height: 20%;">
              <span class="dot" onclick="currentSlide(1)"></span> 
              <span class="dot" onclick="currentSlide(2)"></span> 
              <span class="dot" onclick="currentSlide(3)"></span> 
            </div>
             

        </div>
      </div>
       <!--page 2-->
      <div class="col-12 page pa2" id="pag3">
        <div class="p-3 border bg-light third">
          <div id="liner" style="height: 100%; width:100%;max-height:30vh ;max-width:1160px ;"></div>
        </div>
      </div>

      <div class="col-12 page pa2" id="pag4">
        <div class="p-3 border bg-light third">
          <h5 style="text-align: center; font-size: 1.6vw;">Prediction & Analysis</h5>
            <p style="text-align: center;font-size: 1vw;">lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi varius nisl sed odio malesuada, vitae bibendum urna cursus. Vivamus id porttitor magna. Cras cursus ullamcorper eleifend. In id nibh sit amet nulla placerat hendrerit eget ac ligula. Proin cursus ex condimentum nunc imperdiet, sed rutrum nulla aliquet. Mauris vitae ipsum purus. Aliquam mollis porta massa, a finibus massa accumsan a. Donec in volutpat dui, eget porttitor metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi varius nisl sed odio malesuada, vitae bibendum urna cursus. Vivamus id porttitor magna. Cras cursus ullamcorper eleifend. In id nibh sit amet nulla placerat hendrerit eget ac ligula. Proin cursus ex condimentum nunc imperdiet, sed rutrum nulla aliquet. Mauris vitae ipsum purus. Aliquam mollis porta massa, a finibus massa accumsan a. Donec in volutpat dui, eget porttitor metus.</p>
        </div>
      </div>
       <!--page 3-->
      <div class="col-12 page pa3">
        <div class="p-3 border bg-light second">
            <!-- <div id="line1" style="height: 100%; width:50%;background-color: #f7f4f4;"></div>-->
           <canvas id="scatt" style="height: 100%; width:100%;max-height:43vh ;max-width:1200px ;"></canvas>
        </div>
      </div>


      <div class="col-12 page pa3" id="pag6">
        <div class="p-3 border bg-light recom">
            <h5 style="text-align: center;font-size:1.6vw;">Insights & Recommendations</h5>
            <p style="text-align: center;font-size: 1vw;">lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi varius nisl sed odio malesuada, vitae bibendum urna cursus. Vivamus id porttitor magna. Cras cursus ullamcorper eleifend. In id nibh sit amet nulla placerat hendrerit eget ac ligula. Proin cursus ex condimentum nunc imperdiet, sed rutrum nulla aliquet. Mauris vitae ipsum purus. Aliquam mollis porta massa, a finibus massa accumsan a. Donec in volutpat dui, eget porttitor metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi varius nisl sed odio malesuada, vitae bibendum urna cursus. Vivamus id porttitor magna. Cras cursus ullamcorper eleifend. In id nibh sit amet nulla placerat hendrerit eget ac ligula. Proin cursus ex condimentum nunc imperdiet, sed rutrum nulla aliquet. Mauris vitae ipsum purus. Aliquam mollis porta massa, a finibus massa accumsan a. Donec in volutpat dui, eget porttitor metus.</p>
        </div>
      </div>
      <!--page 4-->
      {% if user_is_supervisor %} 
   <!--feedback 0-->
    <div class="col-12 page pa4" id="popul">
    <div class="p-3 border bg-light overflow-auto" style="height: 35vh;">

 
<!--<form method="POST">-->
  
  <div class="containerx">
    <form method="POST" id="feedbackForm">
      {% csrf_token %}
      <div class="row">
        <div class="col-25">
          <label for="fname" style="font-size: 2.5vh;"><b>Agent Name</b></label>
        </div>
        <div class="col-75">
          <input type="text" id="fname" list="list-timezone" name="agent_name" placeholder="Agent name..">
          <datalist id="list-timezone">
            {% for x in name_list %}
            <option>{{ x }}</option>
            {% endfor %}
          </datalist>
        </div>
      </div>
     
      <div class="row">
        <div class="col-25">
          <label for="feedback" style="font-size: 2.5vh;"><b>Feedback</b></label>
        </div>
        <div class="col-75">
          <textarea id="subject" name="feedback" placeholder="Write something.." style="height:100px"></textarea>
        </div>
      </div>
      <div class="row">
        <input type="submit" value="Submit">
      </div>
    </form>
  </div>
 

  </div>
  </div>
  {% endif %}
  
  <div class="col-12 page pa4" id="popu">
  <div class="p-3 border bg-light overflow-auto" style="height: 45vh;">


  <h2 style="text-align: center;font-family: Roboto;">Feedbacks</h2>
  {% if user_is_supervisor %}
  <div id="feedbackcontain">
  {% for feedback in feedbacks %}
  <div class="containery">
    <h4 style="font-family: Roboto; border-bottom:3px solid #ffea00;">{{ feedback.agent }}</h3>
    <p>{{ feedback.text }}</p>
    <div style="border-top:1px solid #ffea00;">
      <span class="time-right">{{ feedback.date }}</span>
      <a class="time-left" href="{% url 'replies' feedback.id %}">replies</a>
    </div>
  </div>
  {% endfor %}
  </div>

  {% endif %}
  <div id="any">
  {% for feedback in agent_feedback %}
  <div class="containery">
    <h4 style="font-family: Roboto; border-bottom:3px solid #ffea00;">{{ feedback.user.username }}</h3>
    <p>{{ feedback.text }}</p>
    <span class="time-right">{{ feedback.date }}</span>
    <a class="time-left" href="{% url 'replies' feedback.id %}">replies</a>
  </div>
  {% endfor %}
  </div>

 
  </div>




 
      </div>
      </div>  

   <!--end feedback 0-->   

      
    </div>
</div>


<script>
    function selectsection(thibutton,cla,acla){
        var thisbutton = document.getElementById(thibutton)
        var elements = document.getElementsByClassName(acla);
        var elements2 = document.getElementsByClassName(cla);
        var buttons = document.getElementsByClassName('button');
        for(var i = 0; i < elements.length; i++){

        var classn2= elements[i].className.replace(" d-none","");
        elements[i].className = classn2;

        var classn= elements[i].className;
        elements[i].className = classn + " d-none";
        }

        for(var i = 0; i < elements2.length; i++){
        var classn2= elements2[i].className.replace(" d-none","");
        elements2[i].className = classn2;
        }

        for(var i = 0; i < buttons.length; i++){

            var buttonName= buttons[i].className.replace(" bg-warning","");
            buttons[i].className = buttonName;
            }

        var buttonName2= thisbutton.className;
        thisbutton.className = buttonName2 + " bg-warning";
    }

   var initialButton=document.getElementById("but1");
   var intialClassName = initialButton.className;
   initialButton.className = intialClassName + " bg-warning";

    var elems = document.getElementsByClassName('page');
    var elems2 = document.getElementsByClassName('pa1');
    for(var i = 0; i < elems.length; i++){

    var classn= elems[i].className;
    elems[i].className = classn + " d-none";
    }

   for(var i = 0; i < elems2.length; i++){
    var classn2= elems2[i].className.replace(" d-none","");
    elems2[i].className = classn2;
    }


//carousel

var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}

setInterval(plusSlides,3000,1);
//end carousel

//charts

//chartsjs
var xyValues = [
  {x:50, y:7},
  {x:60, y:8},
  {x:70, y:8},
  {x:80, y:9},
  {x:90, y:9},
  {x:100, y:9},
  {x:110, y:10},
  {x:120, y:11},
  {x:130, y:14},
  {x:140, y:14},
  {x:150, y:15}
];

new Chart("scatt", {
  type: "scatter",
  data: {
    datasets: [{
      pointRadius: 4,
      pointBackgroundColor: "rgb(0,0,255)",
      data: xyValues
    }]
  },
  options: {
    legend: {display: false},
    scales: {
      xAxes: [{ticks: {min: 40, max:160}}],
      yAxes: [{ticks: {min: 6, max:16}}],
    }
  }
});

//plotly

var multiline1_1 = {
      x: [1, 2, 3, 4, 5, 6, 7, 8],
      y: [10, 15, 13, 17,16],
      name: 'Goal',
      type: 'achieve'
    };

    var multiline1_2 = {
      x: [5, 6, 7, 8],
      y: [16, 5, 11, 9],
      name: 'projected',
      type: 'scatter'
    };

    

    var layout2 = {margin: {
    l: 20,
    r: 20,
    b: 20,
    t: 30,
    pad: 1
  },
  showlegend: true,
  legend: {"orientation": "h"},
  };

    var data2 = [multiline1_1, multiline1_2];

    Plotly.newPlot('liner', data2,layout2);


//end plotly




function toggle2Function() {
  var x = document.getElementById("pag7");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

//jquery submit ajax form

//$("#message").val('');
$(document).ready(function () {
 $('#feedbackForm').submit(function (event) {
   event.preventDefault(); // Prevent the form from being submitted normally

   $.ajax({
     type: "POST",
     url: "{% url 'dashview' %}", // Replace with your view URL
     data: $(this).serialize(), // Serialize the form data
     success: function (response) {

      $('#subject').val('');
       // Handle the response
       $('#feedbackcontain').load(location.href + ' #feedbackcontain');
       console.log(response);
     },
     error: function (response) {
       // Handle any errors
       console.log(response);
     }
   });
 });
});

/*
$(document).ready(function() {
				$("#lik").click(function() {
					setInterval("alert('Hello Ninjas');", 3000);
				});
			});

$(document).ready(function() {

$(".lik").click( 
function(){
  setTimeout("$('#feedbackcontain').load(location.href + ' #feedbackcontain');", 2000);
  //$('#feedbackcontain').load(location.href + ' #feedbackcontain');
}
);

})

*/


document.addEventListener('DOMContentLoaded', e => {
        $('#fname').autocomplete()
    }, false);
 
</script>

{% endblock %}