{% extends 'new_base.html' %}
{% load static %}


{% block content %}


<style>
    .first{
        height:5vh; 
        margin-top: 2vh;
        border-radius: 20px;
        line-height: 1vh;
        font-size: 85%;
        text-align: center;
        background-color: #ffea00;

        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;

    }

    .second{
        height:45vh; 
    }

    .recom{
        height:25vh; 
    }

    .third{
        height:35vh; 
    }

/*<<<<<<<<<<<<<<<<<start carousel >>>>>>>>>>>>>>>>>>>>>  */
    
    /* Slideshow container   position: relative; */
.slideshow-container {
 
  background: #f1f1f1f1;
  
}

/* Slides */
.mySlides {
  display: none;
  padding: 20px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
 
  user-select: none;
  width: auto;
  cursor: pointer;
  position: absolute;
  /*
  top: 60%;
  margin-top: -30px;
*/
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
 
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  top: 60%;
  right: 4vw;
  border-radius: 3px 0 0 3px;
}

 /* Position the "previous button" to the right  */
.prev {
  position: absolute;
  top: 60%;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
    width: 100%;
    position: relative;
    bottom: 1px;
    z-index: 3;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}

/*<<<<<<<<<<<<<<<<<end carousel >>>>>>>>>>>>>>>>>>>>>  */

/*Table style begin*/
#table{
  box-sizing: border-box;
  padding-top: 0;
  margin-top: 0;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 14px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 4px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

.leader-table{
  font-weight: 500;
  font-size: 1em;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 15px;
}

/*Table style end   font-size: 0.7em */
.filter-button {
    position: relative;
    top: 1.6vh;
}

.kpiButtton{
    background-color: #ffea00; 
    height: 15%;
    margin-bottom: 5px; 
    border-radius: 20px;
}


/* feedback */

  
/* feedback 0 */

.content-item {
  padding-top:30px;
  padding-left: 100px;
  padding-right: auto;
  margin-right: 0;
	background-color:#FFFFFF;
 
}

.content-item.grey {
	background-color:#F0F0F0;
	padding:50px 0;
	height:100%;
  margin-right: 0;
}

.content-item h2 {
	font-weight:700;
	font-size:35px;
	line-height:45px;
	text-transform:uppercase;
	margin:20px 0;
}

.content-item h3 {
	font-weight:400;
	font-size:20px;
	color:#555555;
	margin:10px 0 15px;
	padding:0;
}

.content-headline {
	height:1px;
	text-align:center;
	margin:20px 0 70px;
}

.content-headline h2 {
	background-color:#FFFFFF;
	display:inline-block;
	margin:-20px auto 0;
	padding:0 20px;
}

.grey .content-headline h2 {
	background-color:#F0F0F0;
}

.content-headline h3 {
	font-size:14px;
	color:#AAAAAA;
	display:block;
}


#comments {
    box-shadow: 0 -1px 6px 1px rgba(0,0,0,0.1);
	background-color:#FFFFFF;
}

#comments form {
	margin-bottom:40px;
}

#comments .btn {
	margin-top:7px;
}

#comments form fieldset {
	clear:both;
}

#comments form textarea {
	height:100px;
}

#comments .media {
	border-top:1px dashed #DDDDDD;
	padding:20px 0;
	margin:0;
}

#comments .media > .pull-left {
    margin-right:20px;
}

#comments .media img {
	max-width:100px;
}

#comments .media h4 {
	margin:0 0 10px;
}

#comments .media h4 span {
	font-size:14px;
	float:right;
	color:#999999;
}

#comments .media p {
	margin-bottom:15px;
	text-align:justify;
}

#comments .media-detail {
	margin:0;
}

#comments .media-detail li {
	color:#AAAAAA;
	font-size:12px;
	padding-right: 10px;
	font-weight:600;
  display: inline;
}

#comments .media-detail a:hover {
	text-decoration:underline;
}

#comments .media-detail li:last-child {
	padding-right:0;
}

#comments .media-detail li i {
	color:#666666;
	font-size:15px;
	margin-right:10px;
}

.False a{
 color:#AAAAAA;
}

.True a{
 color:blue;
}

/* feedback 0 */

</style>

<script>

</script>

<div class="container">
    <div class="row gy-4">
      <div class="col-6 col-md-3">
        <div class="p-3 border first button" id="but1" onclick="selectsection('but1','pa1', 'page')">Overview</div>
      </div>
      <div class="col-6 col-md-3 ">
        <div class="p-3 border first button" id="but2" onclick="selectsection('but2','pa2', 'page')">Prediction & Analysis</div>
      </div>
      <div class="col-6 col-md-3">
        <div class="p-3 border first button" id="but3" onclick="selectsection('but3','pa3', 'page')"> Insights & Recommendations</div>
      </div>
      <div class="col-6 col-md-3 ">
        <div class="p-3 border first button" id="but4" onclick="selectsection('but4','pa4', 'page')">Feedback & Collaboration</div>
      </div>
      <!--page 1-->
      <div class="col-12 page pa1" id="pag1">
        <div class="p-1 border bg-light third" style="overflow-x:auto;overflow-y:auto;">

            <p class="leader-table" style="text-align: center;">Top Performing Countries</p>
            <form style="padding-top: 0;margin-top: 0;">
              <div class="container">
              <div class="row">
                <!--
               <div class="form-group col-md-4" style="font-size: 0.8em;">
                    <label class="drop" for="inputState">Country</label>
                    <select id="country" class="form-control" style="height: 20px; padding-top: 0; font-size: 0.8em;">
                      <option selected>All</option>
                      <option>Nigeria</option>
                      <option>Kenya</option>
                      <option>Tanzania</option>
                    </select>
               </div>
                 -->
               <div class="form-group col-md-2" style="font-size: 0.8em;">
                    <label class="drop" for="inputState">Duration</label>
                    <select id="inputState" class="form-control" style="height: 20px; padding-top: 0; font-size: 0.8em;margin-bottom: 1vh;">
                      <option selected>MTD</option>
                      <option>WTD</option>
                    </select>
               </div>
               <div class="form-group col-md-4">
                <button id="form-button" type="submit" class="btn filter-button" style="font-size: 0.8em; padding: 2px;background-color: #ffea00;">Filter</button>
              </div>
             </div>
            </div>
            </form>
    
    <table id="myTable">
      <tr class="header" style="background-color: #ffea00;">
        <th style="width:5%;">Pos</th>
        <th style="width:10%;">Country</th>
        <th style="width:10%;">Calls</th>
        <th style="width:10%;">Collection</th>
        <th style="width:10%;">Contact rate</th>
        <th style="width:10%;">Negotiation</th>
      </tr>
      <tr>
        <td>1</td>
        <td>{{ Country_features.0.4 }}</td>
        <td>{{ Country_features.0.0 }}</td>
        <td>{{ Country_features.0.1 }}</td>
        <td>{{ Country_features.0.2 }}</td>
        <td>{{ Country_features.0.3 }}</td>
      </tr>
      <tr>
        <td>2</td>
        <td>{{ Country_features.1.4 }}</td>
        <td>{{ Country_features.1.0 }}</td>
        <td>{{ Country_features.1.1 }}</td>
        <td>{{ Country_features.1.2 }}</td>
        <td>{{ Country_features.1.3 }}</td>
      </tr>
      <tr>
        <td>3</td>
        <td>{{ Country_features.2.4 }}</td>
        <td>{{ Country_features.2.0 }}</td>
        <td>{{ Country_features.2.1 }}</td>
        <td>{{ Country_features.2.2 }}</td>
        <td>{{ Country_features.2.3 }}</td>
      </tr>
      <tr>
        <td>4</td>
        <td>{{ Country_features.3.4 }}</td>
        <td>{{ Country_features.3.0 }}</td>
        <td>{{ Country_features.3.1 }}</td>
        <td>{{ Country_features.3.2 }}</td>
        <td>{{ Country_features.3.3 }}</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Mozambique</td>
        <td>100</td>
        <td>140</td>
        <td>170</td>
        <td>170</td>
      </tr>
    </table>
        
        </div>
      </div>
      <div class="col-12 page pa1" id="pag2">
        <div class="p-3 border bg-light second">
         
          <div class="slideshow-container" style="height: 80%;">
             <h5 style="text-align: center;"> Success Stories</h5>
            <div class="mySlides">
              <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi varius nisl sed odio malesuada, vitae bibendum urna cursus. Vivamus id porttitor magna. Cras cursus ullamcorper eleifend. In id nibh sit amet nulla placerat hendrerit eget ac ligula. Proin cursus ex condimentum nunc imperdiet, sed rutrum nulla aliquet. Mauris vitae ipsum purus. Aliquam mollis porta massa, a finibus massa accumsan a. Donec in volutpat dui, eget porttitor metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi varius nisl sed odio malesuada, vitae bibendum urna cursus. Vivamus id porttitor magna. Cras cursus ullamcorper eleifend. In id nibh sit amet nulla placerat hendrerit eget ac ligula. Proin cursus ex condimentum nunc imperdiet, sed rutrum nulla aliquet. Mauris vitae ipsum purus. Aliquam mollis porta massa, a finibus massa accumsan a. Donec in volutpat dui, eget porttitor metus.</q>
              <p class="author">- Kenya</p>
            </div>
            
            <div class="mySlides">
              <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi varius nisl sed odio malesuada, vitae bibendum urna cursus. Vivamus id porttitor magna. Cras cursus ullamcorper eleifend.</q>
              <p class="author">- Tanzania</p>
            </div>
            
            <div class="mySlides">
              <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi varius nisl sed odio malesuada, vitae bibendum urna cursus. Vivamus id porttitor magna. Cras cursus ullamcorper eleifend.</q>
              <p class="author">- Nigeria</p>
            </div>
            
            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>
            
          </div>
            
            <div class="dot-container" style="height: 20%;">
              <span class="dot" onclick="currentSlide(1)"></span> 
              <span class="dot" onclick="currentSlide(2)"></span> 
              <span class="dot" onclick="currentSlide(3)"></span> 
            </div>
             

        </div>
      </div>
       <!--page 2-->
      <div class="col-12 page pa2" id="pag3">
        <div class="p-3 border bg-light third">
          <div id="liner" style="height: 100%; width:100%;max-height:30vh ;max-width:1160px ;"></div>
        </div>
      </div>

      <div class="col-12 page pa2" id="pag4">
        <div class="p-3 border bg-light third">
          <h5 style="text-align: center;">Prediction & Analysis</h5>
            <p style="text-align: center;">lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi varius nisl sed odio malesuada, vitae bibendum urna cursus. Vivamus id porttitor magna. Cras cursus ullamcorper eleifend. In id nibh sit amet nulla placerat hendrerit eget ac ligula. Proin cursus ex condimentum nunc imperdiet, sed rutrum nulla aliquet. Mauris vitae ipsum purus. Aliquam mollis porta massa, a finibus massa accumsan a. Donec in volutpat dui, eget porttitor metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi varius nisl sed odio malesuada, vitae bibendum urna cursus. Vivamus id porttitor magna. Cras cursus ullamcorper eleifend. In id nibh sit amet nulla placerat hendrerit eget ac ligula. Proin cursus ex condimentum nunc imperdiet, sed rutrum nulla aliquet. Mauris vitae ipsum purus. Aliquam mollis porta massa, a finibus massa accumsan a. Donec in volutpat dui, eget porttitor metus.</p>
        </div>
      </div>
       <!--page 3-->
      <div class="col-12 page pa3">
        <div class="p-3 border bg-light second">
            <!-- <div id="line1" style="height: 100%; width:50%;background-color: #f7f4f4;"></div>-->
           <canvas id="scatt" style="height: 100%; width:100%;max-height:43vh ;max-width:1200px ;"></canvas>
        </div>
      </div>


      <div class="col-12 page pa3" id="pag6">
        <div class="p-3 border bg-light recom">
            <h5 style="text-align: center;">Insights & Recommendations</h5>
            <p style="text-align: center;">lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi varius nisl sed odio malesuada, vitae bibendum urna cursus. Vivamus id porttitor magna. Cras cursus ullamcorper eleifend. In id nibh sit amet nulla placerat hendrerit eget ac ligula. Proin cursus ex condimentum nunc imperdiet, sed rutrum nulla aliquet. Mauris vitae ipsum purus. Aliquam mollis porta massa, a finibus massa accumsan a. Donec in volutpat dui, eget porttitor metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi varius nisl sed odio malesuada, vitae bibendum urna cursus. Vivamus id porttitor magna. Cras cursus ullamcorper eleifend. In id nibh sit amet nulla placerat hendrerit eget ac ligula. Proin cursus ex condimentum nunc imperdiet, sed rutrum nulla aliquet. Mauris vitae ipsum purus. Aliquam mollis porta massa, a finibus massa accumsan a. Donec in volutpat dui, eget porttitor metus.</p>
        </div>
      </div>
      <!--page 4-->
      
   <!--feedback 0-->
      <div class="col-12 page pa4" id="popu">
        <div class="p-3 border bg-light overflow-auto" style="height: 70vh;">

          <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<section class="content-item" id="comments">
<div class="container">
<div class="row">
<div class="col-sm-10">
<form id="feedbackForm" method="POST">
  {% csrf_token %}
<h3 class="pull-lef" style="text-align: center;">Add Feedback</h3>

<fieldset >
<div class="row">
<div class="col-sm-3 col-lg-2 hidden-xs">
<!--<img class="img-responsive" src="https://bootdey.com/img/Content/avatar/avatar1.png" >-->
</div>
<div class="form-group col-xs-12 col-sm-9 col-lg-10">
<textarea class="form-control" id="message" name="message" placeholder="Your feedback" required></textarea>
</div>
</div>
</fieldset>
<button id="feeder" type="submit" class="btn btn-primary btn-sm pull-right">Submit</button>
</form>
<h3>Feedbacks</h3>
<!--test div-->
<div id="feedbackcontain">
<!--test div-->
{% for vote in votes %}
<div class="media">
<a class="pull-left" href="#"><img class="media-object" src="{% static 'img_avatar.png' %}" alt></a>
<div class="media-body">
<h4 class="media-heading">{{ vote.user.username }}</h4>
<p>{{ vote.feedback.text }}</p>
<ul class="list-unstyled list-inline media-detail pull-left">
<li><i class="fa fa-calendar"></i>{{ vote.feedback.date }}</li>
<li><i class="fa fa-thumbs-up"></i>{{ vote.feedback.totalvote }}</li>
</ul>
<ul class="list-unstyled list-inline media-detail pull-right">
<li class="{{ vote.value }} lik"><a href="{% url 'upvote' vote.id %}">upvote</a></li>
<li class><a href>Reply</a></li>
</ul>
</div>
</div>
{% endfor %}

<div class="media">
<a class="pull-left" href="#"><img class="media-object" src="{% static 'img_avatar.png' %}" alt></a>
<div class="media-body">
<h4 class="media-heading">John Doe</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
<ul class="list-unstyled list-inline media-detail pull-left">
<li><i class="fa fa-calendar"></i>27/02/2014</li>
<li><i class="fa fa-thumbs-up"></i>13</li>
</ul>
<ul class="list-unstyled list-inline media-detail pull-right">
<li class><a href>Like</a></li>
<li class><a href>Reply</a></li>
</ul>
</div>
</div>


<div class="media">
<a class="pull-left" href="#"><img class="media-object" src="{% static 'img_avatar.png' %}" alt></a>
<div class="media-body">
<h4 class="media-heading">John Doe</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
<ul class="list-unstyled list-inline media-detail pull-left">
<li><i class="fa fa-calendar"></i>27/02/2014</li>
<li><i class="fa fa-thumbs-up"></i>13</li>
</ul>
<ul class="list-unstyled list-inline media-detail pull-right">
<li class><a  style="color: #AAAAAA;" href>Like</a></li>
<li class><a href>Reply</a></li>
</ul>
</div>
</div>


<div class="media">
<a class="pull-left" href="#"><img class="media-object" src="{% static 'img_avatar.png' %}" alt></a>
<div class="media-body">
<h4 class="media-heading">John Doe</h4>
<p>Lorem dolor sit amet, consectetur adipiscing elit.</p>
<ul class="list-unstyled list-inline media-detail pull-left">
<li><i class="fa fa-calendar"></i>27/02/2014</li>
<li><i class="fa fa-thumbs-up"></i>13</li>
</ul>
<ul class="list-unstyled list-inline media-detail pull-right">
<li class><a href>Like</a></li>
<li class><a href>Reply</a></li>
</ul>
</div>
</div>
<!--test div-->
</div>
<!--test div-->
</div>
</div>
</div>
</section>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript">	</script>
 
        </div>
      </div>  

   <!--end feedback 0-->   

      
    </div>
</div>


<script>
    function selectsection(thibutton,cla,acla){
        var thisbutton = document.getElementById(thibutton)
        var elements = document.getElementsByClassName(acla);
        var elements2 = document.getElementsByClassName(cla);
        var buttons = document.getElementsByClassName('button');
        for(var i = 0; i < elements.length; i++){

        var classn2= elements[i].className.replace(" d-none","");
        elements[i].className = classn2;

        var classn= elements[i].className;
        elements[i].className = classn + " d-none";
        }

        for(var i = 0; i < elements2.length; i++){
        var classn2= elements2[i].className.replace(" d-none","");
        elements2[i].className = classn2;
        }

        for(var i = 0; i < buttons.length; i++){

            var buttonName= buttons[i].className.replace(" bg-warning","");
            buttons[i].className = buttonName;
            }

        var buttonName2= thisbutton.className;
        thisbutton.className = buttonName2 + " bg-warning";
    }

   var initialButton=document.getElementById("but1");
   var intialClassName = initialButton.className;
   initialButton.className = intialClassName + " bg-warning";

    var elems = document.getElementsByClassName('page');
    var elems2 = document.getElementsByClassName('pa1');
    for(var i = 0; i < elems.length; i++){

    var classn= elems[i].className;
    elems[i].className = classn + " d-none";
    }

   for(var i = 0; i < elems2.length; i++){
    var classn2= elems2[i].className.replace(" d-none","");
    elems2[i].className = classn2;
    }


//carousel

var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}

setInterval(plusSlides,3000,1);
//end carousel

//charts

//chartsjs
var xyValues = [
  {x:50, y:7},
  {x:60, y:8},
  {x:70, y:8},
  {x:80, y:9},
  {x:90, y:9},
  {x:100, y:9},
  {x:110, y:10},
  {x:120, y:11},
  {x:130, y:14},
  {x:140, y:14},
  {x:150, y:15}
];

new Chart("scatt", {
  type: "scatter",
  data: {
    datasets: [{
      pointRadius: 4,
      pointBackgroundColor: "rgb(0,0,255)",
      data: xyValues
    }]
  },
  options: {
    legend: {display: false},
    scales: {
      xAxes: [{ticks: {min: 40, max:160}}],
      yAxes: [{ticks: {min: 6, max:16}}],
    }
  }
});

//plotly

var multiline1_1 = {
      x: [1, 2, 3, 4, 5, 6, 7, 8],
      y: [10, 15, 13, 17,16],
      name: 'Goal',
      type: 'achieve'
    };

    var multiline1_2 = {
      x: [5, 6, 7, 8],
      y: [16, 5, 11, 9],
      name: 'projected',
      type: 'scatter'
    };

    

    var layout2 = {margin: {
    l: 20,
    r: 20,
    b: 20,
    t: 30,
    pad: 1
  },
  showlegend: true,
  legend: {"orientation": "h"},
  };

    var data2 = [multiline1_1, multiline1_2];

    Plotly.newPlot('liner', data2,layout2);


//end plotly




function toggle2Function() {
  var x = document.getElementById("pag7");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

//jquery submit ajax form

//$("#message").val('');
$(document).ready(function () {
 $('#feedbackForm').submit(function (event) {
   event.preventDefault(); // Prevent the form from being submitted normally

   $.ajax({
     type: "POST",
     url: "{% url 'dashview' %}", // Replace with your view URL
     data: $(this).serialize(), // Serialize the form data
     success: function (response) {

      $('#message').val('');
       // Handle the response
       $('#feedbackcontain').load(location.href + ' #feedbackcontain');
       console.log(response);
     },
     error: function (response) {
       // Handle any errors
       console.log(response);
     }
   });
 });
});

/*
$(document).ready(function() {
				$("#lik").click(function() {
					setInterval("alert('Hello Ninjas');", 3000);
				});
			});

$(document).ready(function() {

$(".lik").click( 
function(){
  setTimeout("$('#feedbackcontain').load(location.href + ' #feedbackcontain');", 2000);
  //$('#feedbackcontain').load(location.href + ' #feedbackcontain');
}
);

})

*/


$(document).ready(function() {
 $(document).on('click', '.lik', function() {
   setTimeout(function() {
     $('#feedbackcontain').load(location.href + ' #feedbackcontain');
   }, 1000);
 });
});
</script>

{% endblock %}