{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'styles.css' %}">
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
</head>
<body>
<!-- header -->
<div class="header">
  <h2>Sunking</h2>
  <p>Powering access to brighter lives.</p>
</div>
<!-- nav bar -->
<div class="topnav" id="navbar">
  {% block home %}
    <a class="" href="{% url 'home2' %}">Home</a>
  {% endblock %}
  {%if request.user.is_authenticated %}
  <a href="#" onclick="document.getElementById('id03').style.display='block'">Logout</a>
  {% block dash %}
  <a  href="{% url 'dashboard' %}">Dashboard</a>
  {% endblock %}
  {%else%}
  <a href="#" onclick="document.getElementById('id01').style.display='block'">Login</a>
  <a href="#" onclick="document.getElementById('id02').style.display='block'">Sign up</a> 
  {%endif%}
    
 
</div>

{% if messages %}
<div class="messages">
{% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
        {{ message }}
    </div>
{% endfor %}
</div>
{% endif %}

      
<!-- pop up log in form -->
<div id="id01" class="modal">
  
  <form class="modal-content animate" action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
        
      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>


<!-- pop up logout form -->
<div id="id03" class="modal">
  
    <form class="modal-content animate" action="{% url 'signout' %}" method="post">
        {% csrf_token %}
      <div class="imgcontainer">
        <span onclick="document.getElementById('id03').style.display='none'" class="close" title="Close Modal">&times;</span>
      </div>
  
      <div class="container">
        <p>Are you sure you want to logout</p>
        <input type="hidden">
          
        <button type="submit">Yes</button>
      </div>
    </form>
  </div>

<!-- pop up sign up form -->
<div id="id02" class="modal">
  
    <form class="modal-content animate" action="{% url 'signup' %}" method="post">
        {% csrf_token %}
      <div class="imgcontainer">
        <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
      </div>
  
      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label for="angaz"><b>Role</b></label>
        <input type="text" placeholder="Enter your role" name="role" required>

        <label for="angaz"><b>Country</b></label>
        <input type="text" placeholder="Enter your country" name="country" required>
        
        <label for="angaz"><b>Angaza ID</b></label>
        <input type="text" placeholder="Enter Angaza ID" name="angaza" required>
  
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <label for="psw2"><b>Password</b></label>
        <input type="password" placeholder="Enter Password again" name="psw2" required>

        <button type="submit">Sign up</button>
       
      </div>
  
      <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
      </div>
    </form>
  </div>
  {% block content %}{% endblock %}
<script>
// Get the modal
var modal = document.getElementById('id01');
var modal2 = document.getElementById('id02');
var modal3 = document.getElementById('id03');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
window.onclick = function(event) {
    if (event.target == modal2) {
        modal2.style.display = "none";
    }
}

window.onclick = function(event) {
    if (event.target == modal3) {
        modal2.style.display = "none";
    }
}
//scroll effect
window.onscroll = function() {myFunction()};

var navbar = document.getElementById("navbar");
var sticky = navbar.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
</script>

</body>
</html>
