{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'styles.css' %}">
<link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="{% static 'local.js' %}"></script>
<!--<link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">
<script src="{% static 'fontawesome_free/js/all.min.js' %}"></script>-->
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
</head>
<body>
<Style>
   #profile{
   position:absolute;
   top: 0;
   right: 120px;
}

#leave{
  position:absolute;
  top: 0;
  right: 2px;
}

#hdd{
  position:absolute;
  top: 0;
  font-size: 2.5em;
  left: 46vw;
}

#parr{
  position:absolute;
  top: 44px;
  left: 44vw;
}

#hed{
  height: 70px;
  border-bottom: 1px solid;
  background-color: yellow;
  position: sticky;  
  z-index: 3; 
top: 0; 
}
</Style>
<!-- header -->
<div id="hed"><!-- class="header"-->
  <h2 id="hdd">Sun King</h2>
  <p id="parr">Powering access to brighter lives.</p>
  {%if request.user.is_authenticated %}
  <P id="profile"><a href="{% url 'profile' %}">{% block proile %}<i class="fa-regular fa-user"></i> Welcome{% endblock %}</a></P>
  <a id="leave" href="#"  onclick="document.getElementById('id03').style.display='block'">
    <i class="fa fa-sign-out" aria-hidden="true"></i>
    Sign Out
  </a>
  {% endif %}
</div>
<!-- nav bar 
<div class="topnav" id="navbar">
  {% block home %}
    <a class="" href="{% url 'home2' %}">Home</a>
  {% endblock %}
  {%if request.user.is_authenticated %}
  <a href="#" onclick="document.getElementById('id03').style.display='block'">Logout</a>
  {% block dash %}
  <a  href="{% url 'dashboard' %}">Dashboard</a>
  {% endblock %}
  {%else%}
  <a href="#" onclick="document.getElementById('id01').style.display='block'">Login</a>
  <a href="#" onclick="document.getElementById('id02').style.display='block'">Sign up</a> 
  {%endif%}  
</div>
-->





<div class="container-fluid">
  <div class="row">
    {%if request.user.is_authenticated %}
    <div class="col-sm-2 col-lg-2" style="background-color: yellow;">
  <!-- Sidebar -->
      <nav id="sidebarMenu" class="collapse d-lg-block sidebar"> 
        <div class="position-sticky">
          <div class="list-group list-group-flush mx-3 mt-4">
            <a
              href="{% url 'home2' %}"
              class="list-group-item list-group-item-action py-2 ripple"
              aria-current="true"
            >
              <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Home</span>
            </a>
            <a href="{% url 'dashboard' %}" class="list-group-item list-group-item-action py-2 ripple"><!--active-->
              <i class="fas fa-chart-area fa-fw me-3"></i><span>Dashboard</span>
            </a>
            <a href="{% url 'agentlist' %}" class="list-group-item list-group-item-action py-2 ripple"
              ><i class="fas fa-users-viewfinder fa-fw me-3"></i><span>Call Agents</span></a
            >
            <!--
            <a href="#" class="list-group-item list-group-item-action py-2 ripple"
              ><i class="fas fa-camera-retro fa-fw me-3"></i><span>Login</span></a
            >
            -->
          </div>
        </div>
      </nav>
  <!-- Sidebar -->
    </div>  
    {% endif %}
    

  <!-- pop up log in form -->
  <div id="id01" class="modal">
    
    <form class="modal-content animate" action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <div class="imgcontainer">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      </div>

      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
          
        <button type="submit">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      </div>

      <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>
    </form>
  </div>


  <!-- pop up logout form -->
  <div id="id03" class="modal">
    
      <form class="modal-content animate" action="{% url 'signout' %}" method="post">
          {% csrf_token %}
        <div class="imgcontainer">
          <span onclick="document.getElementById('id03').style.display='none'" class="close" title="Close Modal">&times;</span>
        </div>
    
        <div class="container">
          <p>Are you sure you want to logout</p>
          <input type="hidden">
            
          <button type="submit">Yes</button>
        </div>
      </form>
    </div>

  <!-- pop up sign up form -->
  <div id="id02" class="modal">
    
      <form class="modal-content animate" action="{% url 'signup' %}" method="post">
          {% csrf_token %}
        <div class="imgcontainer">
          <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
        </div>
    
        <div class="container">
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required>

          <label for="angaz"><b>Role</b></label>
          <input type="text" placeholder="Enter your role" name="role" required>

          <label for="angaz"><b>E-mail</b></label>
          <input type="email" placeholder="Enter your email" name="email" required>

          <label for="angaz"><b>Country</b></label>
          <input type="text" placeholder="Enter your country" name="country" required>
          
          <label for="angaz"><b>Angaza ID</b></label>
          <input type="text" placeholder="Enter Angaza ID" name="angaza" required>
    
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>

          <label for="psw2"><b>Password</b></label>
          <input type="password" placeholder="Enter Password again" name="psw2" required>

          <button type="submit">Sign up</button>
        
        </div>
    
        <div class="container" style="background-color:#f1f1f1">
          <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
        </div>
      </form>
    </div>
    <!--Main layout-->
    <!--M<div class="container main">-->
    <div class="col-sm-10 col-lg-10" style="min-height: 100vh;">
      {% if messages %}
      <div class="messages">
      {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
        {{ message }}
        </div>
      {% endfor %}
      </div>
      {% endif %}
      {% block content %}{% endblock %}
    </div>
    <!--Main layout-->

  </div>
</div>
<script>

</script>

</body>
</html>
