{% extends 'test.html' %}
{% block profile %}<i class="fa-regular fa-user"></i>{{ username }}{% endblock %}
{% block profile2 %}<i class="fa-regular fa-user"></i>{{ username }}{% endblock %}



<!--<a class="active" href="{% url 'dashboard' %}">Dashboard</a>-->s

{% block content %}
<style>
    #bardiv {
        box-sizing: border-box;
        width: 100%;
        /* height: 100px; /* Adjust the height as desired */
        /*border-style: outset;*/
        /*margin: 0 6px;*/
       
        /*margin: auto;*/
    }

    #bardiv p {
        margin: 9px auto;
        /*font-size: 0.5em;*/
        /*margin: auto;*/
    }
    
    .container2 {
      background-color: #ddd;
    }
    
    .skills {
      text-align: right;
      padding-top: 1px;
      padding-bottom: 1px;
      color: white;
    }
    
    .html {width: 90%; background-color: #04AA6D;}
    .css {width: 80%; background-color: #2196F3;}
    .js {width: 65%; background-color: #f44336;}
    .php {width: 60%; background-color: #808080;}


.box {
  background-color: yellow;
  width: 100%;
  line-height: 400px;
  height: 400px;
  text-align: center;
  margin:auto;
}

.tt:hover{
    font-size: 1.2em;
}

.tt{
    border-radius: 20px;
}

.active1{
    font-size: 1.2em;
}

h2 {
  text-align:center;
}

#tabs{
   position:sticky;
   top:50px;  
}
</style>
 <script type="text/javascript">
var home = document.getElementById("home")
var monitor = document.getElementById("monitor")
var report = document.getElementById("report")
var view = document.getElementById("vie")
var newsletter = document.getElementById("newsl")

home.className = ""
monitor.className = ""
report.className = "active"
view.className = ""
newsletter.className = ""  
    //tab function
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }

  function openCity2(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tt");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active1", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>


     <!--Sidenav-->
 <!--    
<div class="d-none d-lg-block d-md-block ">
    <div id="mySidenav" class="sidenav tab">
        <a  href="#" class="tablinks active text-black" id="about" onclick="openCity(event, 'tab1')">Summary</a>
        <a  href="#" class="tablinks" onclick="openCity(event, 'tab2')" id="blog">Tab2</a>
        <a  href="#" class="tablinks text-black" onclick="openCity(event, 'tab3')" id="projects">Tab3</a>
        <a  href="#" class="tablinks" onclick="openCity(event, 'tab4')" id="contact">Tab4</a>
    </div>
</div>
-->
 <!--d-md-none-->
<div class="container-fluid mt-3" style="padding-bottom: 10px;">
    <div class="row" id="tabs">
      <div class="col p-3 text-black tt active1" onclick="openCity2(event, 'tab1')" style="background-color:yellow;">Summary</div>
      <div class="col p-3 text-white tt" onclick="openCity2(event, 'tab2')" style="background-color:#555;">Tab2</div>
      <div class="col p-3 text-black tt" onclick="openCity2(event, 'tab3')" style="background-color:yellow;">Tab3</div>
      <div class="col p-3 text-white tt" onclick="openCity2(event, 'tab4')" style="background-color:#555;">Tab4</div>
  </div>



<!--First container-->
<div class="tab-content">
    <div id="tab1" class="container tabcontent active" style="display: block;">
        <h2>Live performance summary</h2>
        <div class="container d-none d-lg-block d-md-block" style="overflow: hidden;">
            <div class="row">
                <div class="col-sm-12 col-lg-6"><div id="calls" class="box" style="font-size:5em; border-style: outset; overflow:scroll;">70 calls</div></div>
                <div class="col-sm-12 col-lg-6"><div id="statu" class="box" style="font-size:5em; border-style: outset; overflow:scroll;">50% negotiation</div></div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div id="bardiv">
                    <h3>KPIs</h3>
                
                    <p>Conversion Rate</p>
                    <div class="container2">
                    <div class="skills html">90%</div>
                    </div>
                
                    <p>Unique Calls</p>
                    <div class="container2">
                    <div class="skills css">80%</div>
                    </div>
                
                    <p>Average Per Agent</p>
                    <div class="container2">
                    <div class="skills js">65%</div>
                    </div>
                
                    <p>Negotiation Rate</p>
                    <div class="container2">
                    <div class="skills php">60%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
       //ajax call
 function statCall() {
    $.get("{% url 'dataapi' %}", function(data, status){
    $('#statu').text(data.data);
    $('#calls').text(data.data);
  });
};


setInterval(statCall, 6000);

    </script>

<script>
     function callsCall() {
      $.get("{% url 'callsapi' %}", function(data, status){
      $('#calls').text(data.data);
    });
  };
    
  //setInterval(callsCall, 10000);
</script>
        <!--2nd container-->
        
    
        
    <div id="tab2" class="container tabcontent" style="margin-top: 4px; display: none;">
        <div class="row ">
            <div class="col-sm-12 col-lg-6"><canvas id="lineChart" style="width:100%;max-width:600px"></canvas></div>
            <div class="col-sm-12 col-lg-6"><canvas id="multilineChart" style="width:100%;max-width:600px;"></canvas></div>
            <div class="col-sm-12 col-lg-6"><canvas id="myChart" style="width:100%;max-width:600px"></canvas></div>
            <div class="col-sm-12 col-lg-6"><canvas id="pieChart" style="width:100%;max-width:600px"></canvas></div>
        </div>
    </div>
        <!--3rd container-->
    <div id="tab3" class="container tabcontent" style="margin-top: 4px; display: none;">
        <div class="row">
            <div class="col-sm-12 col-lg-6"><canvas id="myBar" style="width:100%;max-width:600px"></canvas></div>
            <div class="col-sm-12 col-lg-6"><canvas id="scatterChart" style="width:100%;max-width:600px"></div>
            <div class="col-sm-12 col-lg-6"><canvas id="doughnutChart" style="width:100%;max-width:600px"></div>
            <div class="col-sm-12 col-lg-6"><div id="myPlot" style="width:100%;max-width:600px"></div></div>
        </div>
    </div>
        <!--4th container-->
    <div id="tab4" class="container tabcontent" style="margin-top: 4px; display: none;">
        <div class="row">
            <div class="col-sm-12 col-lg-6"><div id="myPlot1" style="width:100%;max-width:600px"></div></div>
            <div class="col-sm-12 col-lg-6"><div id="barv" style="width:100%;max-width:600px"></div></div>
            <div class="col-sm-12 col-lg-6"><div id="myDiv" style="width:100%;max-width:600px"></div></div>
            <div class="col-sm-12 col-lg-6"></div>
        </div>
    </div>
</div>

<script>


    //first barchart
    const xValues = ["Nigeria", "Kenya", "Tanzania", "India", "Cameroon"];
    const yValues = [55, 49, 44, 24, 15];
    const barColors = ["red", "green","blue","orange","brown"];
    
    new Chart("myChart", {
      type: "bar",
      data: {
        labels: xValues,
        datasets: [{
          backgroundColor: barColors,
          data: yValues
        }]
      },
      options: {
        legend: {display: false},
        title: {
          display: true,
          text: "sales 2023"
        }
      }
    });
  //pie chart

const xValues1 = ["Nigeria", "Kenya", "Tanzania", "India", "Cameroon"];
const yValues1 = [55, 49, 44, 24, 15];
const barColors1 = [
  "#b91d47",
  "#00aba9",
  "#2b5797",
  "#e8c3b9",
  "#1e7145"
];

new Chart("pieChart", {
  type: "pie",
  data: {
    labels: xValues1,
    datasets: [{
      backgroundColor: barColors1,
      data: yValues1
    }]
  },
  options: {
    title: {
      display: true,
      text: "World Wide sales 2023"
    }
  }
});

//line chart

const xValues2 = [1,2,3,4,5,6,7,8,9,10,11];
const yValues2 = [70,200,130,98,97,110,107,110,147,144,156];

new Chart("lineChart", {
  type: "line",
  data: {
    labels: xValues2,
    datasets: [{
      fill: false,
      lineTension: 0,
      backgroundColor: "rgba(0,0,255,1.0)",
      borderColor: "rgba(0,0,255,0.1)",
      data: yValues2
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "Daily calls for this month"
    },
    scales: {
      yAxes: [{ticks: {min: 1, max:500}}],
    }
  }
});


//multi line chart

const xValues3 = ["jan","feb","mar","apr","may","june","jul","aug","sep","oct"];

new Chart("multilineChart", {
  type: "line",
  data: {
    labels: xValues3,
    datasets: [{ 
      data: [860,1140,1060,1060,1070,1110,1330,2210,7830,2478],
      borderColor: "red",
      fill: false
    }, { 
      data: [1600,1700,1700,1900,2000,2700,4000,5000,6000,7000],
      borderColor: "green",
      fill: false
    }, { 
      data: [300,700,2000,5000,6000,4000,2000,1000,200,100],
      borderColor: "blue",
      fill: false
    }]
  },
  options: {
    legend: {display: false}
  }
});


   //second barchart
    const xValues4 = ["CANCEL", "ANSWER", "BUSY"];
    const yValues4 = [55, 49, 44];
    const barColors4 = ["blue","orange","brown"];
    
    new Chart("myBar", {
      type: "bar",
      data: {
        labels: xValues4,
        datasets: [{
          backgroundColor: barColors4,
          data: yValues4
        }]
      },
      options: {
        legend: {display: false},
        title: {
          display: true,
          text: "Dial Status"
        },
        scales: {
      yAxes: [{ticks: {min: 1, max:200}}],
    }
      }
    });

    // scatter plot

  
var xyValues = [
  {x:50, y:7},
  {x:60, y:8},
  {x:70, y:8},
  {x:80, y:9},
  {x:90, y:9},
  {x:100, y:9},
  {x:110, y:10},
  {x:120, y:11},
  {x:130, y:14},
  {x:140, y:14},
  {x:150, y:15}
];

new Chart("scatterChart", {
  type: "scatter",
  data: {
    datasets: [{
      pointRadius: 4,
      pointBackgroundColor: "rgb(0,0,255)",
      data: xyValues
    }]
  },
  options: {
    legend: {display: false},
    scales: {
      xAxes: [{ticks: {min: 40, max:160}}],
      yAxes: [{ticks: {min: 6, max:16}}],
    }
  }
});


//dougnut chart

var xValuesx = ["Uganda", "Tanzania", "India", "Nigeria", "Cameroon"];
var yValuesy = [55, 49, 44, 24, 15];
var barColors11 = [
  "#b91d47",
  "#00aba9",
  "#2b5797",
  "#e8c3b9",
  "#1e7145"
];

new Chart("doughnutChart", {
  type: "doughnut",
  data: {
    labels: xValuesx,
    datasets: [{
      backgroundColor: barColors11,
      data: yValuesy
    }]
  },
  options: {
    title: {
      display: true,
      text: "World Wide Home 200x sales 2023"
    }
  }
});


//bar horizontal chart

const xArray = [55, 49, 44, 24, 15];
const yArray = ["Uganda", "Tanzania", "India", "Nigeria", "Cameroon"];

const data = [{
  x:xArray,
  y:yArray,
  type:"bar",
  orientation:"h",
  marker: {color:"rgba(255,0,0,0.6)"}
}];

const layout = {title:"World  Production"};

Plotly.newPlot("myPlot", data, layout);



//plotly line

const xArray1 = [50,60,70,80,90,100,110,120,130,140,150];
const yArray1 = [7,8,8,9,9,9,10,11,14,14,15];

// Define Data
const data1 = [{
  x: xArray1,
  y: yArray1,
  mode:"lines"
}];

// Define Layout
const layout1 = {
  xaxis: {range: [40, 160], title: "Meters"},
  yaxis: {range: [5, 16], title: "Price"},  
  title: "Prices vs. Size"
};

// Display using Plotly
Plotly.newPlot("myPlot1", data1, layout1);

// bar chart vertical

const xArr = ["Uganda", "Tanzania", "India", "Nigeria", "Cameroon"];
const yArr = [55, 49, 44, 24, 15];

const datac = [{
  x:xArr,
  y:yArr,
  type:"bar",
  orientation:"v",
  marker: {color:"rgba(0,0,255,0.6)"}
}];

const layoutc = {title:"World Wide Distribution"};

Plotly.newPlot("barv", datac, layoutc);

//multiple barchart

var trace1 = {
  x: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
  y: [20, 14, 25, 16, 18, 22, 19, 15, 12, 16, 14, 17],
  type: 'bar',
  name: 'Primary Product',
  marker: {
    color: 'rgb(49,130,189)',
    opacity: 0.7,
  }
};

var trace2 = {
  x: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
  y: [19, 14, 22, 14, 16, 19, 15, 14, 10, 12, 12, 16],
  type: 'bar',
  name: 'Secondary Product',
  marker: {
    color: 'rgb(204,204,204)',
    opacity: 0.5
  }
};

var datad = [trace1, trace2];

var layoutd = {
  title: '2013 Sales Report',
  xaxis: {
    tickangle: -45
  },
  barmode: 'group'
};

Plotly.newPlot('myDiv', datad, layoutd);


    </script>
{% endblock %}