{% extends 'base.html' %}
{% block proile %}<i class="fa-regular fa-user"></i> Welcome {{ username }}{% endblock %}


<!--<a class="active" href="{% url 'home2' %}">Home</a>-->
{% block content %}
<style>
    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      border: 1px solid #ddd;
    }
    
    th, td {
      text-align: left;
      padding: 16px;
    }
    
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    h2, p {
        text-align: center;
    }

    tr .up {
      color:green;
    }

    tr .down {
      color:red;
    }

    sup {
            vertical-align: super;
            font-size: small;
        }
</style>
<!--
<div class="container" style="margin: auto;">
  <div class="row">
      <div class="col-sm-6 col-lg-3">
        <div class="card">
          <img src= "../static/img_avatar.png" alt="Avatar" style="width:100%">
          <div class="contain">
            <h4 style="margin: 0 10px;"><b>John Doe</b></h4>
            <p>Most Improve Global</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card">
          <img src= "../static/img_avatar.png" alt="Avatar" style="width:100%">
          <div class="contain">
            <h4><b>John Doe</b></h4>
            <p>Most Improve Global</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card">
          <img src= "../static/img_avatar.png" alt="Avatar" style="width:100%">
          <div class="contain">
            <h4><b>John Doe</b></h4>
            <p>Most Improve Global</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card">
          <img src= "../static/img_avatar.png" alt="Avatar" style="width:100%">
          <div class="contain">
            <h4><b>John Doe</b></h4>
            <p>Most Improve Global</p>
          </div>
        </div>
      </div>
  </div>
</div>
-->
<h2>Leader Board Table Global</h2>
<div class="table-responsive-sm">
  <table class="table">
    <tr>
      <th>Pos</th>
      <th>Name</th>
      <th>Negotiation(%)</th>
      <th>Conversion(%)</th>
      <th>Connected(%)</th>
      <th>Collections(%)</th>
      <th>Average(%)</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Smith</td>
      <td class="up">50<sup>+1</sup></td>
      <td class="down">50<sup>-1</sup></td>
      <td class="down">60<sup>-2</sup></td>
      <td class="up">50<sup>+1</sup></td>
      <td class="down">50<sup>-1</sup></td>
    </tr>
    <tr>
      <td>2</td>
      <td>Adeneye</td>
      <td class="down">94<sup>-1</sup></td>
      <td class="up">76<sup>+1</sup></td>
      <td class="up">24<sup>+1</sup></td>
      <td class="down">50<sup>-1</sup></td>
      <td class="up">50<sup>+1</sup></td>
    </tr>
    <tr>
      <td>3</td>
      <td>Salau</td>
      <td class="down">67<sup>-1</sup></td>
      <td class="up">44<sup>+1</sup></td>
      <td class="down">99<sup>-1</sup></td>
      <td class="">50<sup></sup></td>
      <td class="up">50<sup>+1</sup></td>
    </tr>
    <tr>
      <td>4</td>
      <td>John</td>
      <td class="down">87<sup>-1</sup></td>
      <td class="down">77<sup>-1</sup></td>
      <td class="up">54<sup>+2</sup></td>
      <td class="down">50<sup>-3</sup></td>
      <td class="down">50<sup>-1</sup></td>
    </tr>
    <tr>
      <td>5</td>
      <td>Johns</td>
      <td class="up">63<sup>+1</sup></td>
      <td class="up">65<sup>+1</sup></td>
      <td class="">98<sup></sup></td>
      <td class="down">50<sup>-1</sup></td>
      <td class="up">50<sup>+1</sup></td>
    </tr>
    <tr>
      <td>6</td>
      <td>Mars</td>
      <td class="up">44<sup>+1</sup></td>
      <td class="up">22<sup>+3</sup></td>
      <td class="up">45<sup>+1</sup></td>
      <td class="down">50<sup>-2</sup></td>
      <td class="down">50<sup>-2</sup></td>
    </tr>
    <tr>
      <td>7</td>
      <td>Sandler</td>
      <td class="up">87<sup>+1</sup></td>
      <td class="down">15<sup>-1</sup></td>
      <td class="up">34<sup>+1</sup></td>
      <td class="">50<sup></sup></td>
      <td class="up">50<sup>+1</sup></td>
    </tr>
    <tr>
      <td>8</td>
      <td>Johnson</td>
      <td class="up">63<sup>+1</sup></td>
      <td class="down">20<sup>-1</sup></td>
      <td class="down">10<sup>-1</sup></td>
      <td class="up">50<sup>+1</sup></td>
      <td class="down">50<sup>-1</sup></td>
    </tr>
  </table>
</div>

<h2>Leader Board Table Country</h2>
<div>
<form action="#">
  <label for="cars">Choose a Country:</label>
  <select name="cars" id="cars">
    <option value="" selected>None</option>
    <option value="Nigeria">Nigeria</option>
    <option value="Kenya">Kenya</option>
    <option value="Tanzania">Tanzania</option>
    <option value="Ethiopia">Ethiopia</option>
    <option value="Uganda">Uganda</option>
    <option value="Malawi">Malawi</option>
  </select>
  <input type="submit" value="Submit" style="width:400px; margin: auto;">
</form>
</div>
<br>
<!--<p>Live global leaderboard </p>-->
<div class="table-responsive-sm">
  <table class="table">
    <tr>
      <th>Pos</th>
      <th>Name</th>
      <th>Negotiation(%)</th>
      <th>Conversion(%)</th>
      <th>Connected(%)</th>
      <th>Collections(%)</th>
      <th>Average(%)</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Smith</td>
      <td class="up">50<sup>+1</sup></td>
      <td class="down">50<sup>-1</sup></td>
      <td class="down">60<sup>-2</sup></td>
      <td class="up">50<sup>+1</sup></td>
      <td class="down">50<sup>-1</sup></td>
    </tr>
    <tr>
      <td>2</td>
      <td>Adeneye</td>
      <td class="down">94<sup>-1</sup></td>
      <td class="up">76<sup>+1</sup></td>
      <td class="up">24<sup>+1</sup></td>
      <td class="down">50<sup>-1</sup></td>
      <td class="up">50<sup>+1</sup></td>
    </tr>
    <tr>
      <td>3</td>
      <td>Salau</td>
      <td class="down">67<sup>-1</sup></td>
      <td class="up">44<sup>+1</sup></td>
      <td class="down">99<sup>-1</sup></td>
      <td class="">50<sup></sup></td>
      <td class="up">50<sup>+1</sup></td>
    </tr>
    <tr>
      <td>4</td>
      <td>John</td>
      <td class="down">87<sup>-1</sup></td>
      <td class="down">77<sup>-1</sup></td>
      <td class="up">54<sup>+2</sup></td>
      <td class="down">50<sup>-3</sup></td>
      <td class="down">50<sup>-1</sup></td>
    </tr>
    <tr>
      <td>5</td>
      <td>Johns</td>
      <td class="up">63<sup>+1</sup></td>
      <td class="up">65<sup>+1</sup></td>
      <td class="">98<sup></sup></td>
      <td class="down">50<sup>-1</sup></td>
      <td class="up">50<sup>+1</sup></td>
    </tr>
    <tr>
      <td>6</td>
      <td>Mars</td>
      <td class="up">44<sup>+1</sup></td>
      <td class="up">22<sup>+3</sup></td>
      <td class="up">45<sup>+1</sup></td>
      <td class="down">50<sup>+2</sup></td>
      <td class="down">50<sup>+2</sup></td>
    </tr>
    <tr>
      <td>7</td>
      <td>Sandler</td>
      <td class="up">87<sup>+1</sup></td>
      <td class="down">15<sup>-1</sup></td>
      <td class="up">34<sup>+1</sup></td>
      <td class="">50<sup></sup></td>
      <td class="up">50<sup>+1</sup></td>
    </tr>
    <tr>
      <td>8</td>
      <td>Johnson</td>
      <td class="up">63<sup>+1</sup></td>
      <td class="down">20<sup>-1</sup></td>
      <td class="down">10<sup>-1</sup></td>
      <td class="up">50<sup>+1</sup></td>
      <td class="down">50<sup>-1</sup></td>
    </tr>
  </table>
</div>

<script>
  /*
function ajaxCall() {
    $.get("{% url 'dataapi' %}", function(data, status){
    $('#tester').text(data.data);
  });
}

setInterval(ajaxCall, 6000);

*/
</script>

{% endblock %}