{% extends 'base.html' %}


{% block content %}

<style>
#formcontainer{
    width: 60%;
    height: 70vh;
    border-style: double;
    position: relative;
    top: 80px;
    left: 15vw;
}
</style>

<!--<div class="modal">id="id01"-->
<div id="formcontainer">  
    <form  action="{% url 'editprofile' %}" method="post"><!--class="modal-content"-->
      {% csrf_token %}
      <div class="imgcontainer">
      </div>

      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input id="uname" type="text" name="uname" value="{{ username }}" required>

        <label for="email"><b>Email</b></label>
        <input id="email" type="email" name="email" value="{{ email }}" required>

        <label for="country"><b>Country</b></label>
        <input id="country" type="text" name="country" value="{{ country }}" required>

        <label for="role"><b>Role</b></label>
        <input id="role" type="text" name="role" value="{{ role }}" required>

        <label for="angaz"><b>Angaza Id</b></label>
        <input id="angaz" type="text" name="angaz" value="{{angaza_id}}" required>
          
        <button type="submit">Update</button>
    </form>
</div>


   
{% endblock %}
