{% extends 'base.html' %}
{% block home %}
<a class="active" href="{% url 'home2' %}">Home</a>
{% endblock %}
{% block content %}
<style>
    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      border: 1px solid #ddd;
    }
    
    th, td {
      text-align: left;
      padding: 16px;
    }
    
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    h2, p {
        text-align: center;
    }
</style>
<h2>Leader Board Table Global</h2>
<p>Live global leaderboard </p>
<div class="table-responsive-sm">
  <table class="table">
    <tr>
      <th>Pos</th>
      <th>Name</th>
      <th>Negotiation(%)</th>
      <th>Conversion(%)</th>
      <th>Connected(%)</th>
      <th>Collections(%)</th>
      <th>Average(%)</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Smith</td>
      <td>50</td>
      <td>50</td>
      <td>60</td>
      <td>50</td>
      <td>50</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Adeneye</td>
      <td>94</td>
      <td>76</td>
      <td>24</td>
      <td>50</td>
      <td>50</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Salau</td>
      <td>67</td>
      <td>44</td>
      <td>99</td>
      <td>50</td>
      <td>50</td>
    </tr>
    <tr>
      <td>4</td>
      <td>John</td>
      <td>87</td>
      <td>77</td>
      <td>54</td>
      <td>50</td>
      <td>50</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Johns</td>
      <td>63</td>
      <td>65</td>
      <td>98</td>
      <td>50</td>
      <td>50</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Mars</td>
      <td>44</td>
      <td>22</td>
      <td>45</td>
      <td>50</td>
      <td>50</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Sandler</td>
      <td>87</td>
      <td>15</td>
      <td>34</td>
      <td>50</td>
      <td>50</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Johnson</td>
      <td>63</td>
      <td>20</td>
      <td>10</td>
      <td>50</td>
      <td>50</td>
    </tr>
  </table>
</div>
{% endblock %}