{% extends 'base.html' %}
{% block home %}
<a class="active" href="{% url 'home2' %}">Home</a>
{% endblock %}
{% block content %}
<style>
    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      border: 1px solid #ddd;
    }
    
    th, td {
      text-align: left;
      padding: 16px;
    }
    
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    h2, p {
        text-align: center;
    }
</style>
<h2>Leader Board Table Global</h2>
<p>Live global leaderboard </p>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Points</th>
  </tr>
  <tr>
    <td>Sunday</td>
    <td>Smith</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Funbi</td>
    <td>Adeneye</td>
    <td>94</td>
  </tr>
  <tr>
    <td>Leke</td>
    <td>Salau</td>
    <td>67</td>
  </tr>
  <tr>
    <td>Smith</td>
    <td>John</td>
    <td>87</td>
  </tr>
  <tr>
    <td>Adam</td>
    <td>Johnson</td>
    <td>63</td>
  </tr>
  <tr>
    <td>Bruno</td>
    <td>Mars</td>
    <td>44</td>
  </tr>
  <tr>
    <td>Adam</td>
    <td>Sandler</td>
    <td>87</td>
  </tr>
  <tr>
    <td>John</td>
    <td>Johnson</td>
    <td>63</td>
  </tr>
</table>
{% endblock %}