{% extends 'test.html' %}
{% block profile %}<i class="fa-regular fa-user"></i>{{ username }}{% endblock %}
{% block profile2 %}<i class="fa-regular fa-user"></i>{{ username }}{% endblock %}


{% block content %}
<style>
  .first {
  width: 100%;
  height: 10vh;
  border-radius: 20px;
}

 .second {
  height: 40vh;
  border-radius: 20px;
 }

 .third {
  height: 20vh;
  border-radius: 20px;
 }

 .word1 {
    position: relative;
    top: 5px;
    left:2vw;
    font-size: 1.2vw;
 }

 .num {
  position: relative;
  top: -25px;
  left: 2vw;
  font-size: 3vw;
 }

 .fa-caret-down{
  font-size: 1.2vw;
  color:red;
  position: absolute;
  top: -20px;
  left: 7px;
 }

 .fa-caret-up{
  font-size: 1.2vw;
  color:green;
  position: absolute;
  top: -20px;
  left: 7px;
}

.arrow {
  position: relative;
  
}

.leader-table{
  font-weight: 500;
  font-size: 1em;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 15px;
}


/*Table style begin*/
#table{
  box-sizing: border-box;
  padding-top: 0;
  margin-top: 0;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 4px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

#myTable{
  font-size: 1.3vh;
}
/*Table style end   font-size: 0.7em */
#form-button {
  background-color: #ffea00;
  color:black;
  position:relative;
  top: 15px;
  padding: 0 5px;
  height:20px;
}

.flag{
  position: relative;
  border-radius: 50%;
  right:35px;
  top:12px;
}

.pics{
  position: relative;
  right: 18px;
  top: -14px; 
} 

#form-button:hover{
  background-color: #555;
  color: white;
}

.current{
  border-top-style: double;
  width: 100%;
  height: 140px;
}

.runner{
  border-top-style: double;
  width: 100%;
  height: 70px;
}

.Tpics{
  border-radius: 50%;
}

.trend {
  width: 25%;
  height: 100%;
  position: absolute;
  top: -0.7vw;
  left: 10vw;
}

.countr{
  font-size: 1vw;
}
</style>


<script>
var home = document.getElementById("home")
var monitor = document.getElementById("monitor")
var report = document.getElementById("report")
var view = document.getElementById("vie")
var newsletter = document.getElementById("newsl")

home.className = "active"
monitor.className = ""
report.className = ""
view.className = ""
newsletter.className = ""



const myInterval = setInterval(myTimer, 1000);

function myTimer() {
  const date = new Date();
  document.getElementById("today").innerHTML = date;
}
</script>

<div class="container-fluid overflow-hidden">
  <h2 style="margin-top: 9vh; font-size: 3vh;">Dashboard</h2>
  <p id="today" style="margin-top:0px; margin-bottom: 10px auto; font-size: 1.4vh;"></p>

  <div class="row gx-5 gy-3">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="first p-1 border bg-light">
        <p class="word1">Calls Counted</p><p class="num">200<i class="arrow fa fa-caret-down"></i><img class="trend" src="../static/down.jpeg"></p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="first p-1 border bg-light">
        <p class="word1">Agent Collection</p><p class="num">50<i class="arrow fa fa-caret-up"></i><img class="trend" src="../static/up.jpeg"></p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="first p-1 border bg-light">
        <p class="word1">QA Score</p><p class="num">25<i class="arrow fa fa-caret-down"></i><img class="trend" src="../static/down.jpeg"></p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="first p-1 border bg-light">
        <p class="word1">Negotiation Rate</p><p class="num">45%<i class="arrow fa fa-caret-up"></i> <img class="trend" src="../static/up.jpeg"></p>
      </div>
    </div>
    <div class="col-md-7">
      <div id="table" class="second p-0 border bg-light" style="overflow-x:auto;overflow-y:auto;">
        <p class="leader-table">Leaderboard</p>
        <form style="padding-top: 0;margin-top: 0;">
          <div class="container">
          <div class="row">
           <div class="form-group col-md-4" style="font-size: 0.8em;">
                <label class="drop" for="inputState">Country</label>
                <select id="country" class="form-control" style="height: 20px; padding-top: 0; font-size: 0.8em;">
                  <option selected>All</option>
                  <option>Nigeria</option>
                  <option>Kenya</option>
                  <option>Tanzania</option>
                </select>
           </div>
           <div class="form-group col-md-4" style="font-size: 0.8em;">
                <label class="drop" for="inputState">Duration</label>
                <select id="inputState" class="form-control" style="height: 20px; padding-top: 0; font-size: 0.8em;">
                  <option selected>MTD</option>
                  <option>WTD</option>
                </select>
           </div>
           <div class="form-group col-md-4">
            <button id="form-button" type="submit" class="btn btn-primary" style="font-size: 0.8em;">Filter</button>
          </div>
         </div>
        </div>
        </form>

<table id="myTable">
  <tr class="header" style="background-color: #ffea00;">
    <th style="width:5%;">Pos</th>
    <th style="width:10%;">Name</th>
    <th style="width:10%;">Calls</th>
    <th style="width:10%;">Collection</th>
    <th style="width:10%;">QA</th>
    <th style="width:10%;">Negotiation</th>
  </tr>
  <tr>
    <td></td>
    <td><img class="Tpics" src="../static/img_avatar.png" height="20px" width="20px"> Oluwafunbi Adeneye</td>
    <td>170</td>
    <td>140</td>
    <td>170</td>
    <td>170</td>
  </tr>
  <tr>
    <td></td>
    <td> <img class="Tpics" src="../static/img_avatar.png" height="20px" width="20px"> Berglunds snabbkop</td>
    <td>169</td>
    <td>140</td>
    <td>170</td>
    <td>170</td>
  </tr>
  <tr>
    <td></td>
    <td><img class="Tpics" src="../static/img_avatar.png" height="20px" width="20px"> Island Trading</td>
    <td>140</td>
    <td>140</td>
    <td>170</td>
    <td>170</td>
  </tr>
  <tr>
    <td></td>
    <td><img class="Tpics" src="../static/img_avatar.png" height="20px" width="20px"> Koniglich Essen</td>
    <td>120</td>
    <td>140</td>
    <td>170</td>
    <td>170</td>
  </tr>
  <tr>
    <td></td>
    <td><img class="Tpics" src="../static/img_avatar.png" height="20px" width="20px"> Laughing Bacchus Winecellars</td>
    <td>100</td>
    <td>140</td>
    <td>170</td>
    <td>170</td>
  </tr>
</table>


      </div>
    </div>
    <div class="col-md-5">
      <div class="second p-3 border bg-light" style="text-align:center;">        
        <h3>&#127881; Current winner &#127881;</h3>
        <img src="../static/img_avatar.png" height="150px" width="200px" style="border-radius: 35px; display: block; margin-left: auto; margin-right: auto;">
      <div><a href="#">View more detail..</a></div>
      </div>
    </div>
    <h2 style="text-align: center; font-size: 2.5vh;">Current MTD top performers</h2>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="third p-3 border bg-light">
        <img class="pics" src="../static/img_avatar.png" height="55px" width="55px">
        <img class="flag" src="../static/Flag-Mozambique.webp" height="15px" width="15px">
        <span class="countr">Mozambique</span>
        <div class="current"></div>
        <div class="runner"></div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="third p-3 border bg-light">
        <img class="pics" src="../static/img_avatar.png" height="55px" width="55px">
        <img class="flag" src="../static/Flag-Nigeria.webp" height="15px" width="15px">
        <span class="countr">Nigeria</span>
        <div class="current"></div>
        <div class="runner"></div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="third p-3 border bg-light">
        <img class="pics" src="../static/img_avatar.png" height="55px" width="55px">
        <img class="flag" src="../static/kenya.png" height="15px" width="15px">
        <span class="countr">Kenya</span>
        <div class="current"></div>
        <div class="runner"></div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="third p-3 border bg-light">
        <img class="pics" src="../static/img_avatar.png" height="55px" width="55px">
        <img class="flag" src="../static/Flag_of_Tanzania.svg.png" height="15px" width="15px">
        <span class="countr">Tanzania</span>
        <div class="current"></div>
        <div class="runner"></div>
      </div>
    </div>
  </div>
</div>


<script>

  function addSN(){
    var table = document.getElementById("myTable");
    var rows = table.rows;
    for (var i =1;i< rows.length; i++){
      var SN = rows[i].cells[0];
      SN.textContent=i;
    }
  }

  addSN()


  //plotly line

const xArray1 = [1,2,3,4,5];
const yArray1 = [30,70,200,180,230,];

// Define Data
const data1 = [{
  x: xArray1,
  y: yArray1,
  mode:"lines"
}];

// Define Layout
const layout1 = {
  font: {
    autosize: false,
    width: 5000,
    height: 5000,
    margin: {
    l: 0,
    r: 0,
    b: 0,
    t: 0,
    pad: 0
  },
    family: 'Courier New, monospace',
    //size: 5,
    //color: '#7f7f7f'
  },
  xaxis: {range: [1, 5]},
  yaxis: {range: [1, 300]},  
};

// Display using Plotly
Plotly.newPlot("plot1", data1, layout1);



  </script>
  
{% endblock %}